
*{
    box-sizing: border-box;
}
.first_button{
    margin-bottom:26px;
    width: 387px;
    height: 60px;
    background-color: #62A1EB;
    border-radius: 8px;
    border:none;
    color:white;
    font-size: 20px;
    
}
.second_button{
    width: 387px;
    height: 60px;
    background-color: #62A1EB;
    border-radius: 8px;
    border:none;
    color:white;
    font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logo{
    width: 112px;
    height: 18px;
    margin-bottom: 85px;
}
.back_photo{
    width: 781px;
    height: 482px;
    margin-bottom: 100px;
}
.main{
    padding-top: 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
